body {
    background-image: url(/images/mockup/header.jpg);
    background-position: left top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.section {
    overflow-x: hidden;
    max-width: 100vw;
}

.illustration {
    max-width: none;
    width: calc(50vw - 2rem);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1), 2px 2px 30px rgba(0, 0, 0, .1);
    transform: rotate(-2deg) translateY(-2rem);
    transform-origin: 100% 0;
}

.portfolio {
    @apply .rounded;
    @apply .bg-white;
}
